body {


    max-width: 1600px;
    height: 4350px;

    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.container {
    max-width: 1920px;
}

div.nav-bar {
    display: block;
    float:left;
}

/* Rectangle 32 */
.top-logo-square {
    position: absolute;
    width: 20px;
    height: 20px;


    background: #9C69E2;
    border-radius: 20px;
}

/* Rectangle 33 */
.top-logo-rec {
    position: absolute;
    width: 20px;
    height: 35px;


    background: #F063B8;
    border-radius: 20px;
}

ul.nav  {
    display: -webkit-box;
}

.menu-item {
    padding: 10px 20px
}
/* About */
.menu-item#menu-item-1 {
  /*  position: absolute;
    width: 53px;
    height: 30px;
    left: 410px;
    top: 62px;*/

    text-decoration: none;
    list-style: none;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    /* 2 */
    color: #212353;
}

.menu-item#menu-item-2 {
    /* Help */

/*    position: absolute;
    width: 35px;
    height: 26px;
    left: 503px;
    top: 64px;*/

    text-decoration: none;
    list-style: none;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* 1 */
    color: #4B5D68;


}
.menu-item#menu-item-3 {
    /* Features */

 /*   position: absolute;
    width: 63px;
    height: 26px;
    left: 578px;
    top: 64px;*/

    text-decoration: none;
    list-style: none;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* 1 */
    color: #4B5D68;


}
.menu-item#menu-item-4 {
    /* Signup */

 /*   position: absolute;
    width: 51px;
    height: 26px;
    left: 681px;
    top: 64px;*/

    text-decoration: none;
    list-style: none;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* 1 */
    color: #4B5D68;


}

.menu-item a {
    text-decoration: none;
    color: #4B5D68;
}

.top-bar {
    display: block;
}

.top-bar-button {
 /*   position: absolute;
    width: 210px;
    height: 60px;
    left: 1150px;
    top: 47px;*/
}
.in-top-bar-button {
  /*  position: absolute;
    width: 152px;
    height: 26px;
    left: 1179px;
    top: 64px;*/
}
.top-bar-button-text {
    /* Request Demo */
    /*  position: absolute;
      width: 112px;
      height: 26px;
      left: 1179px;
      top: 64px;*/


    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    /* 2 */
    color: #212353;
}
.top-bar-button-arrow {
/*    position: absolute;
    width: 20px;
    height: 14px;
    left: 1311px;
    top: 70px;*/
}
.tbba-right {
    /* Vector 74 */

/*    position: absolute;
    width: 20px;
    height: 0px;
    left: 1311px;
    top: 77px;*/

    border: 2px solid #9C69E2;
    box-sizing: border-box;

}
.tbba-point {
    /* Polygon 1 */

 /*   position: absolute;
    width: 14px;
    height: 6px;
    left: 1331px;
    top: 70px;*/

    border: 2px solid #9C69E2;
    box-sizing: border-box;
    transform: rotate(90deg);

}

.top-bar-button-rec {
    /* Group 57 */

/*
    position: absolute;
    width: 152px;
    height: 26px;
    left: 1179px;
    top: 64px;*/
}
